* {
    margin: 0%;
    padding: 0%;
    background-color: black;
    font-family: Bricolage Grotesque;
    color: white;
}

.hedding {
    position: relative;
    top: 300px;
    left: 558px;
    width: 282px;
    height: 103px;
    border: 2px dashed #F0773A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Service {
    text-align: center;
    width: 174.1px;
    height: 52.13px;
    margin: 22px 50px;
}

.Service p {
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
    display: inline;
    background: linear-gradient(91.09deg, #FB8D48 2.51%, #ED7136 17.52%, #C54E47 32.53%, #C14F49 32.54%, #9D3863 47.55%, #5E1F72 62.56%);
    color: transparent;
    -webkit-background-clip: text;
    align-items: center;

}

.anymation {
    position: relative;
    top: 165px;
}

.branding-con {
    position: relative;
    display: flex;
    width: 1, 440px;
    height: 560.53px;
    top: 436px;
    padding: 0px 100px 0px 100px;
    justify-content: space-between;
}

.Branding-img {
    display: flex;
    width: 579px;
    height: 560px;
    position: relative;
}

.Branding-title {
    position: relative;
    display: inline-block;
    width: 473px;
    height: 207px;
    gap: 128px;
    top: 192px;

}

.title {
    position: relative;
    color: white;
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
}

.Dev-points {
    display: block;
    position: relative;
    width: 454.48px;
    height: 112px;
    gap: 50px;
    top: 40px;
}

.Dev-point1 {
    width: 148px;
    height: 112px;
    gap: 20px;
}

.service-list {
    list-style: none;
    padding: 0;
}

.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.service-item:last-child {
    margin-bottom: 0;
}

.service-icon {
    width: 15px;
    height: 15px;
    background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
    border-radius: 50%;
    margin-right: 10px;
}

.Dev-point2 {
    position: relative;
    width: 130px;
    height: 112px;
    gap: 20px;
    left: 198px;
    top: -110px;
}

.why-branding {
    display: flex;
    width: 1, 440px;
    height: 459.64px;
    top: 727px;
    padding: 0px 100px 0px 100px;
    justify-content: space-between;
    left: 0px;
    position: relative;
}

.why-branding-img {
    position: relative;
    width: 550px;
    height: 425.64px;
    padding-top: 32px;
}

.Text-title {
    width: 625px;
    height: 299px;
    gap: 27px;
    position: absolute;
    display: flex;
    top: 80.82px;
    left: 610px;
}

.text-title1 {
    width: 432px;
    height: 104px;
    gap: 10px;
}

.text-title1 p {
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    display: inline-block;
    align-items: center;
    position: absolute;
}

.text-title1 p span {
    background: linear-gradient(90.16deg, #FB8D48 60.51%, #ED7136 69.45%, #C54E47 78.39%, #C14F49 78.4%, #9D3863 87.34%, #5E1F72 96.28%);
    color: transparent;
    -webkit-background-clip: text;
}

.text {
    width: 625px;
    height: 168px;
    gap: 10px;
    position: absolute;
    top: 131px;
    font-family: Bricolage Grotesque;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.how-we-work {
    width: 1060px;
    height: 430.75px;
    top: 1069px;
    left: 142px;
    gap: 60px;
    position: relative;
}

.Box-1 {
    position: relative;
    top: 0px;
    height: 102px;
    border: 2px dashed #F0773A;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 408.37px;
    left: 327.32px;
    font-family: Bricolage Grotesque;
    font-size: 45px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;

}

.Box-1 p {
    background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
    -webkit-background-clip: text;
    color: transparent;
}

.junniyer-carts1 {
    width: 1, 027px;
    height: 268px;
    gap: 58px;
    display: flex;
    justify-content: space-between;
    top: 55px;
    position: relative;
}

.cart1 {
    display: inline-block;
    width: 265px;
    height: 256px;
    gap: 19px;
}

.cart1 img {
    width: 50px;
    height: 50px;
    gap: 10px;
}

.cart1-text {
    width: 293px;
    height: 72px;
    gap: 10px;
    font-family: Bricolage Grotesque;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    position: relative;
}

.cart1-text2 {
    width: 265px;
    height: 96px;
    gap: 10px;
    position: relative;
    top: 28px;
    font-family: Bricolage Grotesque;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;

}

.line {
    position: absolute;
    width: 268px;
    height: 0px;
    top: 130px;
    border: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(270deg, rgba(232, 107, 49, 0) 0%, rgba(134, 53, 15, 0.6) 50.38%, rgba(232, 107, 49, 0) 100%);
    transform: rotate(90deg);
    left: 181px;
    display: flex;
}

.cart2 {
    position: relative;
    display: inline-block;
    width: 265px;
    height: 256px;
    gap: 19px;
    right: 13px;
}

.cart1 img {
    width: 50px;
    height: 50px;
    gap: 10px;
}

.cart2-text {
    width: 191px;
    height: 72px;
    gap: 10px;
    font-family: Bricolage Grotesque;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    position: relative;
}

.cart2-text2 {
    width: 265px;
    height: 96px;
    gap: 10px;
    position: relative;
    top: 28px;
    font-family: Bricolage Grotesque;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.line1 {
    position: absolute;
    width: 268px;
    height: 0px;
    top: 130px;
    border: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(270deg, rgba(232, 107, 49, 0) 0%, rgba(134, 53, 15, 0.6) 50.38%, rgba(232, 107, 49, 0) 100%);
    transform: rotate(90deg);
    right: 208px;
}

.cart3 {
    display: inline-block;
    position: relative;
    width: 265px;
    height: 256px;
    gap: 19px;
    right: 28px;
}

.cart3 img {
    width: 50px;
    height: 50px;
    gap: 10px;
}

.cart3-text {
    width: 191px;
    height: 72px;
    gap: 10px;
    font-family: Bricolage Grotesque;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    position: relative;
}

.cart3-text2 {
    width: 265px;
    height: 96px;
    gap: 10px;
    position: relative;
    top: 28px;
    font-family: Bricolage Grotesque;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.anymation2 {
    width: 159.14px;
    height: 169.66px;
    top: 604.63px;
    left: 1184px;
    border: 1px 0px 0px 0px;
    position: relative;
    transform: rotate(180deg);
}

.step1 {
    position: relative;
    width: 1, 440px;
    height: 361px;
    top: 1152px;
    padding: 0px 100px 0px 100px;
    justify-content: space-between;
    display: flex;
}

.step1-cart {
    width: 759px;
    height: 286px;
    gap: 10px;
    display: flex;
}

.step1-cart h1 {
    width: 179px;
    height: 184px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-family: Arial;
    font-size: 160px;
    font-weight: 700;
    line-height: 183.98px;
    text-align: left;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #E86B31;
    /* border: 2px solid white; */
}

.step1-title {
    width: 596px;
    height: 72px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    position: relative;
    top: 94px;
}

.step1-title p {
    font-family: Bricolage Grotesque;
    font-size: 46px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
    -webkit-background-clip: text;
    color: transparent;
}

.caption {
    width: 759px;
    height: 92px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    position: absolute;
    top: 194px;
}

.caption p {
    font-family: Bricolage Grotesque;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    align-items: center;
}

.step1 img {
    width: 400px;
    height: 361px;
    position: relative;
    left: 81px;
}


.step2 {
    position: relative;
    width: 1, 440px;
    height: 325px;
    top: 1202px;
    padding: 0px 100px 0px 100px;
    justify-content: space-between;
    display: flex;
}

.step2-cart {
    width: 759px;
    height: 286px;
    gap: 10px;
    display: flex;
    position: relative;
    left: 95px;
}

.step2-cart h1 {
    width: 179px;
    height: 184px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-family: Arial;
    font-size: 160px;
    font-weight: 700;
    line-height: 183.98px;
    text-align: left;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #E86B31;
    /* border: 2px solid white; */
}

.step2-title {
    width: 596px;
    height: 72px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    position: relative;
    top: 94px;
}

.step2-title p {
    font-family: Bricolage Grotesque;
    font-size: 46px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
    -webkit-background-clip: text;
    color: transparent;
}

.caption2 {
    width: 759px;
    height: 92px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    position: absolute;
    top: 194px;
}

.caption2 p {
    font-family: Bricolage Grotesque;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    align-items: center;
}

.step2 img {
    width: 376px;
    height: 325px;
    position: relative;
}
.step3 {
    position: relative;
    width: 1, 440px;
    height: 354px;
    top: 1252px;
    padding: 0px 100px 0px 100px;
    justify-content: space-between;
    display: flex;
}

.step3-cart {
    width: 759px;
    height: 256px;
    gap: 10px;
    display: flex;
}

.step3-cart h1 {
    width: 179px;
    height: 184px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-family: Arial;
    font-size: 160px;
    font-weight: 700;
    line-height: 183.98px;
    text-align: left;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #E86B31;
    /* border: 2px solid white; */
}

.step3-title {
    width: 596px;
    height: 52px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    position: relative;
    top: 94px;
}

.step3-title p {
    font-family: Bricolage Grotesque;
    font-size: 43px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
    -webkit-background-clip: text;
    color: transparent;
}

.caption3 {
    width: 697px;
    height: 72px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    position: absolute;
    top: 173px;
}

.caption3 p {
    font-family: Bricolage Grotesque;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    align-items: center;
}

.step3 img {
    width: 399px;
    height: 352px;
    position: relative;
    left: 81px;
}