        @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
        :root {
            --bg-color: Black;
            --txt-color: white;
            --font-size: 24px;
            --font-size2: 28px;
        }

        body {
            background-color: var(--bg-color);
            font-family: "Bricolage Grotesque", sans-serif;
            font-weight: 900;
            font-style: normal;
            position: relative;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;
        }

        .navbar {
            /* padding: 0px;
            margin: 0px; */
            border: 2px solid transparent;
            border-radius: 10px;
            position: relative;
            transform-style: preserve-3d;
            border-radius: 10px;
            background: linear-gradient(#000000, #000000) padding-box, linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%) border-box;
            margin-right: 20px;
        }

        .navbar::before {
            content: "";
            position: absolute;
            inset: -8px;
            /* background: linear-gradient( 90deg, #d61039 40%, #5E1F72 100%); */
            background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
            filter: blur(px);
            transform: translate3d(6px, 12px, -1px);
            border-radius: inherit;
            pointer-events: none;
        }

        .navbar-toggler:focus {
            text-decoration: none;
            outline: 0;
            box-shadow: none;
        }

        .nav-link {
            font-family: 'Bricolage Grotesque';
            font-weight: bold;
            line-height: 32px;
            text-align: left;
            color: #ffffff;
            /* padding: 15px; */
            position: relative;
            /* right: 0px; */
            font-size: 28px;
        }

        .nav-link:hover {
            color: #ffffff;
        }


        /* .navbar .nav-link:focus {
            background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-weight: 600;
            font-size: 30px;
            line-height: 36px;
        } */


        /* Show dropdown on focus or hover */


        /* end */

        .container-fluid {
            /* padding-top: 6px;
            padding-bottom: 6px; */

        }

        .dropdown-menu {
            position: relative;
            background-color: white;
            color: white;
            background-origin: padding-box, border-box;
            background-repeat: no-repeat;
            /* this is important */
            border: 3px solid transparent;
            border-radius: 5px;
            background: linear-gradient(#2E2C29, #2E2C29) padding-box, linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%) border-box;
            /* margin-top: 150px; */
            /* left: 50px; */
            /* min-width: 238px; */
        }

        .dropdown-item {
            color: white;
            font-size: 19px;
        }

        .dropdown-item:hover {
            background-color: transparent;
            color: #ffffff;
        }

        .dropdown-toggle::after {
            display: none;
        }


        /* select to item and change to color in servise */


        /* phone view  */

        #navbarDropdown {
            font-size: 28px;
            color: white;
            /* Initial color */
        }

        .navbar-collapse {
            position: relative;
            /* right: 20px; */
        }
        /* 
        #navbarDropdown.changedColor {
            background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-size: 28px;
            
        } */
        /* Default button style */
        .nav-link {
            color: white; /* Default color */
        }
        
        /* Active button color */
        .nav-link.active {
            background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-size: 28px; /* Active color */
        }
 /* brand componet css */
        #brand{
            font-size: 45px;
            font-weight: 700px;
            background: linear-gradient(91.09deg, #FB8D48 2.51%, #ED7136 17.52%, #C54E47 32.53%, #C14F49 32.54%, #9D3863 47.55%, #5E1F72 62.56%);
            -webkit-background-clip: text;
            color: transparent;
            padding-left:0px;
            padding-top: 10px;
            padding-bottom: 10px; 
        }
        #text{
            font-family: Bricolage Grotesque;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.5px; 
            max-width: 501px
        }
        .bt{
            background: linear-gradient(black, black) padding-box, linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%) border-box;
            border: 2px solid transparent;
            color: white;
            border-radius: 90px; 
            min-width: 238px;
            font-size: 28px;
            padding: 0px;
            text-align: center;
            min-height:76px;
        } .brand{ 
            border: 3px dashed rgba(232, 107, 49, 1);
            font-family: Bricolage Grotesque;
            font-size: 45px;
            font-weight: 700;
            line-height: 52px;
            text-align: center;
            max-width: 222px; 
        }.title{
            max-width: 390px; 
            font-size:45px; 
            font-weight: 600;
        }

        /* media qrey */

        @media (max-width: 340px) {
            /* Your custom styles for small screens */
            #logo {
                max-width: 100px;
            }.nav-link.active {
                background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                font-size: 19px; /* Active color */
            } /* brand componet css */
            #text{
                align-items: center;
                font-size: 16px;
                text-align: center;
                position: relative;
                top:90px;
                font-family: Bricolage Grotesque;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.5px;
                text-align: center;
                
            }
            .brand{
                    position: relative;
                    max-width: 172px; 
                    justify-content: center;
                    margin-left: 91px;
                    margin-right: 20px; 
                    top:40px;
            }
            .title {
                text-align: center;
                max-width: 390px;
                font-size: 30px;
                align-items: center;
                left: 2px;
                right:2px;
                position: relative;
                top:20px;
            }
            .bt{
                max-width: 159px;
                align-items: center;
                position: relative;
                top:100px;
                left:54px;
                right:21px;
            }.demo2{
                top:67px;
                position: relative;
            }
        }

        @media (max-width:493px) {
            body {
                margin: 0px;
                margin-top: 21px;
            }
            .navbar::before {
                content: "";
                position: absolute;
                background: none;
                border: 2px black;
            }
            #logo {
                max-width: 100px;
            }
            .navbar {
                position: relative;
                background: none;
                left:1px;
                right:-9px;
                /* margin-left: 40px;
                margin-right: 0px; */
            }
            .container-fluid {
                position: relative;
                margin-right: 0px;
                margin-left: 20px;
            }
            .navbar-collapse {
                position: relative;
                position: relative;
                left:26px;
                right:19px;
            }
            .navbar-nav {
                position: relative;
                border: 3px solid transparent;
                border-radius: 5px;
                background: linear-gradient(black, black) padding-box, linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%) border-box;
                width: 100vh;        
                padding-left:20px; 
            
            }.dropdown-item{
                font-size: 16px;
            }.dropdown-item{
                padding-left: 10px;
                padding-right: 20px;
            }
            .nav-item {
                font-size: 24px;
                font-weight: 400px;
            }
            .nav-link {
                font-size: 24px;
                font-weight: 400;
                padding: 0px;
            }
            .dropdown-menu { 
                padding: 0px;
                border: 3px solid transparent;
                border-radius: 5px;
                background: linear-gradient(black, black) padding-box, linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%) border-box;
                margin-right: 20px;
            }
            #navbarDropdown {
                font-size: 24px;
                font-weight: 400px;
            }
            /* #navbarDropdown.changedColor {
                background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                font-size: 24px;
                font-weight: 400;

            } */
            .navbar-nav {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                max-width: 239px;
            }
            .nav-link.active {
                background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                font-size: 19px; /* Active color */
            }
            /* brand componet css */
            #text{
                align-items: center;
                font-size: 16px;
                text-align: center;
                position: relative;
                top:90px;
                font-family: Bricolage Grotesque;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0.5px;
                text-align: center;
                
            }
            .brand{
                    position: relative;
                    max-width: 172px; 
                    justify-content: center;
                    margin-left: 91px;
                    margin-right: 20px; 
                    top:40px;
            }
            .title {
                text-align: center;
                max-width: 390px;
                font-size: 30px;
                align-items: center;
                left: 2px;
                right:2px;
                position: relative;
                top:20px;
            }
            .bt{
                max-width: 159px;
                align-items: center;
                position: relative;
                top:100px;
                left:54px;
                right:21px;
            }.demo2{
                top:67px;
                position: relative;
            }
        } @media (max-width:800px) {

/* brand componet css */

        }
        @media(max-width:1040px){
            .nav-link{
                font-size: 20px;
            }
            .nav-link.active {
                background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                font-size: 20px; /* Active color */
            }
        }
        @media(max-width:1140px){
            .nav-link{
                font-size: 20px;
            }
            .nav-link.active {
                background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                font-size: 20px; /* Active color */
            }
        }

        /* .nav-link:focus {
            background: linear-gradient(91.11deg, #FB8D48 2.53%, #ED7136 21.88%, #C54E47 41.22%, #C14F49 41.23%, #9D3863 60.58%, #5E1F72 79.93%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-size: 28px;
            font-weight: 800;
        } */
       